<!DOCTYPE html>
<html>
	<head>
		<title>Dash Board</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/app.css"/>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Workout App</h1>
			</div>
			<div class="content">
				<div class="column three-quarter">
					<div class="panel">
						<h1>Your life balance</h1>
						<canvas id="chart" height="60"></canvas>
					</div>
				</div>
				<div class="column quarter">
					<div class="panel half-height">
						<h1>Rankings</h1>
						<div class="rankings">
							<p><a href="#">#1 Jeff Ho</a>| 300pts</p>
							<p><a href="#">#2 Jeff Ho</a>| 300pts</p>
							<p><a href="#">#3 Jeff Ho</a>| 300pts</p>
							<p><a href="#">#4 Jeff Ho</a>| 300pts</p>
							<p><a href="#">#5 Jeff Ho</a>| 300pts</p>
						</div>
					</div>
					<div class="panel quarter half-height center">
						<h1>Calories Burned</h1>
						<h1 class="big">9001</h1>
					</div>
				</div>
				
	
	</body>
</html>