<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	html{
		background-image: url("http://www.entrancecontrol.com.au/wp-content/uploads/IMG_1611.jpg");");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}
	.weights{
		height: 80px;
		width: 100px;
	}
	.cardio{
		height: 80px;
		width: 100px;
	}
	.fuel{
		height: 80px;
		width: 100px;
	}
	.sleep{
		height: 80px;
		width: 100px;
	}
	.category{
		color: #D4DCFF;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	.title{
		padding: 0px 0px 0px 0px
	}
</style>
<body>
	<div class="category">
		<div>
			<h2 class="title" >Weights</h2>
			<img class="weights" src="http://614columbus.com/wp-content/uploads/2014/11/20-lbs-dumbbell1.jpeg">
			
		</div>
		<div>
			<h2 class="title" >Cardio</h2>
			<img class="cardio" src="http://www.treadmilltips.com/images/SoleF85Treadmill.jpg">
		
		</div>
		<div>
			<h2 class="title" >Fuel</h2>
			<img class=" fuel" src="http://3dsuperheroes.co/1024/illustration-of-a-smiling-battery-mascot-cartoon-character-flexing-his-arm-muscles-by-toons4biz-1823.jpg">
			
		</div>
		<div>
			<h2>Rest</h2>
			<img class="sleep" src="http://www.clipartbay.com/cliparts/sleep-icon-wojt55p.png">
		</div>
	</div>

</body>
</html>