<!DOCTYPE html>
<html>
<head>
	<title>Cardio</title>
	<div class="nav">
		<div class="nav-item">
			<h2>Rest</h2>	
		</div>
		<div class="nav-item">
			<h2>Fuel</h2>
		</div>
		<div class="nav-item">
			<h2>Cardio</h2>
		</div>
		<div>
			<h2>Weights</h2>
		</div>
	</div>
	<style>
		html{
			color: #D4DCFF;
			background-image: url("http://www.lepfitness.co.uk/wp-content/uploads/2016/05/What%E2%80%99s-the-best-type-of-cardio-HIIT-or-LISS-The-Cardio-Debate-lep-fitness-personal-trainer-sheffield-pt-sheffield-492x320.jpg");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.nav{
			display: flex;
			flex-direction: row-reverse;
			background-color: #7D83FF;
			font-size: 15px;
		}
		.nav-item{
			padding: 0px 5px 0px 5px;
		}
		.quickMenu{
			padding: 0px 5px 5px 0px;
		}
		.sets{
			border-top: solid #DFF3E4;
			border-bottom: solid #DFF3E4;
		}
	</style>
</head>
<body>
	<h2>Today's Loggin</h2>
	<div>
		<div class="container1">
			<h3 class="quickMenu">Recent</h3>
			<h3 class="quickMenu">Favorites</h3>
			<h3 class="quickMenu">Browse</h3>
		</div>
		<div>Search for an Exercise __________</div>
		<div>
		<h2>Most Used Items</h2><br>
	<!-- eamples of sets -->
		<div class="sets">Run  60 minutes cal 300</div></div>
		</div>
</body>
</html>