<!DOCTYPE html>
<html>
<head>
	<title>Fuel</title>
</head>
	<style type="text/css">
		html{
			background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/MyPyramidFood.svg/1280px-MyPyramidFood.svg.png");
			background-repeat: no-repeat;
			background-image: 1000%;
		}

	</style>
<body>
	<h2>Today's Loggin</h2>
	<div>
		<div class="container1">
			<h3 class="quickMenu">Recent</h3>
			<h3 class="quickMenu">Favorites</h3>
			<h3 class="quickMenu">Browse</h3>
		</div>
		<div>Search for an Food __________</div>
		<div>
		<h2>Most Used Items</h2><br>
	<!-- eamples of sets -->
		<div class="sets">Carrots 30cal</div></div>
		</div>

	</div>
</body>
</html>